# Auto detect text files and perform LF normalization
* text=auto
*.mp4.mov.mp3.uasset.umap.uproject.abc.fbx.mb.ma.max.blend.psd.avi filter=lfs diff=lfs merge=lfs -text
CoutoRobo_Unreal/Content filter=lfs diff=lfs merge=lfs -text
Main_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
main_builtdata_1.upackage filter=lfs diff=lfs merge=lfs -text
main_builtdata_2.upackage filter=lfs diff=lfs merge=lfs -text
main_builtdata_3.upackage filter=lfs diff=lfs merge=lfs -text
main_builtdata_4.upackage filter=lfs diff=lfs merge=lfs -text
main_builtdata_5.upackage filter=lfs diff=lfs merge=lfs -text
